

.App {
  width : 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
}

.main {
  display: flex;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 15.565rem;
  background-color: #2F4050;
  color: rgb(167, 178, 195)

}

.sidebarList {
  height: auto;
  width: 100%;
  /* background-color: azure; */
}

.sidebarList .sidebarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 3.75rem;
}

.sidebarList .sidebarItem:hover {
  cursor: pointer;
  background-color: #293846;
}


.sidebarItem .sidebarIcon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar .sidebarTitle {
  flex: 70%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #2F4050;
  color: rgb(167, 178, 195)
  
}

.userIcon {
  display: flex;
  align-items: center;
}



.ant-card-body {
  height: 80%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper .first {
  font-weight: bold;
}

.addProduct {
  position: absolute;
  right: 1rem;
  bottom: 8rem;
}

.ant-modal {
  width: fit-content !important;
}

.products {
  margin : auto;
}

.cardContent {
  height: 25px;
  overflow: hidden;
}

.removeProduct {
  position: absolute;
  bottom: 15px;
  right: 10px;
  overflow: visible;
}


